*{
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: #eee8aa;
}
.container {
    width: 1140px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: 30px;
    
}
    
 
.left {
    width: 50%;
    display: flex;
    margin:40px auto;
    padding-bottom: 60px;
}



.left img {
    border-radius: 10px 0px 0px 10px;
    width: 170%;
    }
    

.right {
    background-color: #fff;
    border-radius: 0px 6px 6px 0px;
    padding-left: 40px;
   padding-right: 25px;
    padding-bottom: 30px;
}


.right h2 {
    letter-spacing: 4px;
    color: #aeafb4;
    font-size:small;
    text-transform: uppercase;
    align-items: center;
    padding-top: 10px;
    font-weight: 700;
    margin-top: 20px;
    
}

h1 {
    font-family: 'Fraunces', serif;
    color:#121619 ;
    size: 30px;
    line-height: 35px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-weight: bold;

}

.description {
    font-family: 'Montserrat', sans-serif;    
    color: #949496;
    line-height: 25px;
    font-weight:normal;
    font-size: small;
    margin-top: 30px;
}

.btn {
    background-color: #3f856b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fbfffe;
    gap: 15px;
    font-size: 17px;
    padding: 8px;
    border-radius: 5px;
    font-weight: 300;
    width:90%;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Fraunces', serif;
}

.prices {
    display: flex;
    margin-top: 30px;
    margin-bottom: 15px;
    align-items: center;
}

.price {
    font-family: 'Fraunces', serif;
    font-size: 25px;
    color: #388166;
    font-weight:700;
}

.old-price {
    text-decoration: line-through;
    color: #aeafb4;
    margin-left: 20px;
    font-size: 15px;
}

@media only screen and (min-width:200px)and (max-width:767px){
    .container{
        width:100%;
        flex-direction: column;
        height:200px;
        margin-top:5px;
    
        }
}

@media only screen and (min-width:200px)and (max-width:767px){
    .left{
        width:100%;
        flex-direction: column;
        height: 200px;
        }
}

@media only screen and (min-width:200px)and (max-width:767px){
    .left img{
        width:100%;
        flex-direction: column;
        height: 200px;
       
        }
}

    
    