
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #f3eae3;
    height: 700px;
    width: 900px;
    margin: auto;
    padding-top: 50px;
    padding-left: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.left {
    width: 60%;
    display: flex;
}


.left img {
    border-radius: 6px 0px 0px 6px;
    width: 175%;
    
}

.right {
    background-color: #fff;
    border-radius: 0px 6px 6px 0px;
    padding-left: 25px;
    padding-right: 5px;
    padding-bottom: 20px;

}

.right h2 {
    letter-spacing: 4px;
    color: #aeafb4;
    font-size:x-small;
    text-transform: uppercase;
    align-items: center;
    padding-top: 10px;
    font-weight: 700;
    
}

h1 {
    font-family: 'Fraunces', serif;
    color:#121619 ;
    size: 30px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    
    font-weight: bold;

}

.description {
    font-family: 'Montserrat', sans-serif;    
    color: #949496;
    line-height: 20px;
    font-weight:bold;
    font-size: small;
}

.btn {
    background-color: #3f856b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fbfffe;
    gap: 20px;
    font-size: 17px;
    padding: 8px;
    border-radius: 5px;
    font-weight: 500;
    width:80%;
}

.prices {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
}

.price {
    font-family: 'Fraunces', serif;
    font-size: 25px;
    color: #388166;
    font-weight:700;
}

.old-price {
    text-decoration: line-through;
    color: #aeafb4;
    margin-left: 20px;
    font-size: 15px;
}